repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check src tests
        language: system
        pass_filenames: false
      - id: black
        name: black
        entry: black --check src tests
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest -vv
        language: system
        pass_filenames: false
